:root {
    --primary-color: #0A3D62;
    --secondary-color: #D63031;
    --accent1-color: #74B9FF;
    --accent2-color: #FFF;
    --heading-font: "Montserrat", "Poppins", Arial, sans-serif;
    --body-font: "Open Sans", Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* background-color: var(--primary-color); */
    color: var(--secondary-color);
}

body {
    font-family: var(--body-font);
    color: #000;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
}

.hero article {
    position: absolute;
    bottom: 0;
    width: auto;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 85px;
    border: #000 solid 1px;
    margin: auto;
    box-shadow: 0 0 10px lightcyan;
}

h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
}

footer img {
    width: 2rem;
}