:root {
    --primary-color: navy;
    --secondary-color: rgb(250, 210, 215);
}

/* universal rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* element rules */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

header,
footer {
    margin: 0 auto;
    padding: .5rem;
    color: var(--primary-color);
    text-align: center;
}

main {
    margin: 0 auto;
}

form {
    max-width: 600px;
    display: grid;
    gap: 5px;
    border: .1rem solid var(--primary-color);
    border-radius: .3rem;
    padding: 1rem;
    justify-self: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

label {
    /* margin: 1rem 0 .5rem; */
    justify-content: start;
}

input,
select,
textarea {
    padding: 10px;
    border-radius: .3rem;
    border: .1rem solid var(--primary-color);
    margin-bottom: 15px;
}

button {
    width: fit-content;
    color: #FFF;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    place-self: center;
    text-transform: uppercase;
}

footer {
    font-size: .8em;
    margin-top: .5rem;
}

/* attribute rules */

label[for="q4dec"] {
    text-align: center;
    justify-self: center;
    border: 1px solid #000;
    padding: 10px;
    margin: 0 .5rem .5rem;
    color: #FFF;
    background-color: #000;
    font-size: .8em;
    width: 180px;
}

/* pseuedo-class rules */

button:hover {
    background-color: rgb(90, 90, 150);
    cursor: pointer;
}